%section#services
  .container
    .section-header
      %h2 O pracy
    .row
      .col-lg-6
        .box.wow.fadeInLeft
          %h4.title Wstęp
          %p.description
            Autorem niniejszego serwisu jest Radosław Stolarski |
            Serwis ten stanowi integralną część pracy magisterskiej (kierunek: Elektroniczne |
            Przetwarzanie Informacji), przygotowanej pod kierunkiem prof. dra hab. Mariusza Flasińskiego |
            na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.

      .col-lg-6
        .box.wow.fadeInRight
          %h4.title Opis
          %p.description
            Aplikacja w swojej podstawowej wersji webowej umożliwia założenie konta, zalogowanie się |
            a następnie tworzenie swoich list zadań z rzeczami do zrobienia. Po dodaniu zadania możliwe |
            jest oznaczenie go jako ukończonego oraz usunięcie. |
            Dodatkowo aplikacja jest wzbogacona o warstwę interfejsu API, który za pomocą REST umożliwia |
            dostęp do danych zgromadzonych w serwisie, ich modyfikację i usuwanie.
    .row
      .col-lg-6
        .box.wow.fadeInLeft
          %h4.title Jak korzystać z API?
          %p.description

      .col-lg-6
        .box.wow.fadeInRight
          %h4.title Coś jeszcze
          %p.description
