%section#services
  .container
    .section-header
      %h2 Twoje listy zadań
      = link_to 'New Todo List', new_todo_list_path, class: 'btn-projects'
    .row
      - @todo_lists.each do |todo_list|
        .col-lg-3
          .box.wow.fadeInLeft
            %a{href: todo_list_path(todo_list), style: 'width: 100%; height: 100%;top: 0;  bottom: 0;  right: 0;  left: 0;'}
              %h4.title
                =todo_list.name
              %p.description
                =todo_list.description.truncate(30)
              = link_to 'Edytuj', edit_todo_list_path(todo_list), class: 'btn btn-xs btn-warning'
              = link_to 'Usuń', todo_list, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' }
