%section#services
  .container
    .section-header
      %h2 Twoje listy zadań
      %p Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore
      = link_to 'New Todo List', new_todo_list_path, class: 'btn-projects'
    .row
      - @todo_lists.each do |todo_list|
        .col-lg-3
          .box.wow.fadeInLeft
            %h4.title
              =todo_list.name
            = link_to 'Show', todo_list
            = link_to 'Edit', edit_todo_list_path(todo_list)
            = link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' }
            %p.description
              =todo_list.description