-#%footer.footer
-#  .container
-#    %span.text-muted Place sticky footer content here.

%footer#footer
  .container
    .copyright
      \© Copyright
      %strong Radosław Stolarski, 2018
    .credits
/ #footer
